#calendar {
	background-color: hsl(329, 66%, 79%);
	border: solid 1px white;
	width: 300px;
	margin: auto;
}

.calendar_entry {
	padding-bottom: 2px;
}

.calendar_date {
	margin-bottom: 0px;
}

.calendar_title {
	margin-top: 0px;
}