#event_room {
	background-color: hsl(173, 38%, 82%);
	border: solid hsl(207, 13%, 67%) 4px;
	filter: drop-shadow(0px 0px 4px hsl(197, 88%, 27%));
	margin-bottom: 30px;
}

#event_room h4 {
	margin-bottom: 5px;
	margin-top: 0px;
}

#room_info {
	padding-top: 10px;
}

#room_feature_opening {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
}

#room_features {
	margin: auto;
	margin-top: 0px;
	padding-top: 0px;
	width: 300px;
	text-align: left;

}

#room_features ul {
	margin-top: 0px;
}