#other_main {
	text-align: center;
}

#other_main h1 {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: hsl(320, 53%, 66%);
	text-decoration-thickness: 5px;
	text-underline-offset: 6px;
}

.other_section {
	border: solid silver 4px;
	background-color: hsl(320, 53%, 66%);
	background-image: 	linear-gradient(#826177, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 95%, #826177),
						linear-gradient(90deg, #826177, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 99%, #826177);
	border-radius: 20px;
	margin: auto;
	margin-bottom: 30px;
	padding: 0px 20px 20px 20px;
	max-width: 900px;

	filter: drop-shadow(0px 0px 10px #9d14ad);
}

.other_section h2 {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: #9d14ad;
	text-decoration-thickness: 5px;
	text-underline-offset: 6px;
	color: #3d1c43;
}

.other_section figcaption {
	margin-bottom: 10px;
}

.other_section video:hover {
	cursor: pointer;
}

.other_list {
	margin: auto;
	width: 400px;
	text-align: left;
}

.other_list p {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 20px;
	margin-left: 0px;
}

#other_table {
	border-collapse: collapse;
	border: solid #710871 3px;
	color: whitesmoke;
	margin: auto;
}

#other_table_title {
	background-color: #88386d;
}

#other_table thead {
	background-color: #826177;
}

#other_table th, #other_table td {
  border: 1px solid #521e52;
  padding: 8px 10px;
  border-collapse: collapse;
}

#other_table tbody > tr:nth-of-type(even) {
	background-color: hsl(288, 28%, 61%);
}

#other_table tbody > tr:nth-of-type(odd) {
	background-color: hsl(280, 20%, 32%);
}

#message_button:hover {
	background-color: hsl(288, 28%, 61%);
}

/* ===== Other Mobile ===== */
@media only screen and (max-width: 750px) {
	#other_main {
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.other_section video, .other_section audio {
		width: 100%;
	}

	#other_table {
		font-size: 10px;
	}
}