.hamburger_button {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	right: 20px;
	top: 15px;
	background-color: hsl(329, 41%, 49%);
	border-color: blanchedalmond;
	border-style: solid;
	border-width: 3px;
	filter: drop-shadow(0px 0px 2px #81440f);
	z-index: 20;

	margin: 0px;

	cursor: pointer;

	animation-timing-function: ease;
	animation-duration: 300ms;
	animation-iteration-count: 1;
}

.ham_line {
	border: none;
	background-color: rgb(255, 247, 236);
	height: 4px;
	border-radius: 10px;
}

/* ===== Menu ===== */
#nav_mobile {
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100%;
	
	z-index: 15;
	
	justify-content: center;
	align-items: center;

	animation-timing-function: ease-in-out;
	animation-duration: 600ms;
	animation-iteration-count: 1;
}

#nav_mobile ul {
	padding-left: 0px;
	padding-top: 40px;
}

#nav_mobile li {
	list-style: none;
	text-align: center;
	margin-bottom: 5em;
}

/* ===== Buttons ===== */
.button_mobile {
	width: 150px !important;
	height: 50px !important;
	margin: 0px 5px -20px 5px;

	font-size: 14px !important;
	
	background-color: blanchedalmond;
	background-image: 	linear-gradient(#6d4b2742 6%, #00000000 10%, #00000000 90%, #6d4b2742 94%),
						linear-gradient(90deg, #6d4b2742 3%, #00000000 10%, #00000000 90%, #6d4b2742 97%);

	border: solid 2px hsl(35, 28%, 52%);
	filter: drop-shadow(0px 0px 2px #573c23);
	color: rgb(42, 32, 17);
	border-radius: 15px;	
}

.button_mobile:visited {
	color: rgb(42, 32, 17);
}

.button_mobile:hover {
	scale: 0.95;
	background-color: rgb(239, 221, 190);
}

/* ===== Animations ===== */
.ham_button_show {
	animation-name: show_hamburger_button;
	opacity: 1;
}
@keyframes show_hamburger_button {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.ham_button_hide {
	animation-name: hide_hamburger_button;
	opacity: 0;
	pointer-events: none;
}
@keyframes hide_hamburger_button {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.ham_menu_open {
	animation-name: show_hamburger_menu;
}
@keyframes show_hamburger_menu {
	from {
		transform: translateY(-100vh);
	}
	to {
		transform: translateY(0vh);
	}
}

.ham_menu_closed {
	animation-name: hide_hamburger_menu;
}
@keyframes hide_hamburger_menu {
	from {
		transform: translateY(0vh);
	}
	to {
		transform: translateY(-100vh);
	}
}

@media (prefers-reduced-motion: reduce) {
	.ham_menu_open {
		animation-name: none;
	}

	.ham_menu_closed {
		animation-name: none;
	}
}
